@media only screen and (min-width:300px){
    .content{
        text-align: center;
        color: $desaturated_red;
        &__text{
            &__heading{
                font-size: 3em;
                font-weight: 300;
                text-transform: uppercase;
                padding: 1em .5em 0em .5em;
                line-height: 1em;
                letter-spacing: .2em;

                margin-bottom: .5em;
                &--dark{
                    font-weight: 600;
                    color: $dark_grayish_red;
                }
            }
            &__paragraph{
                width: 85%;
                margin: auto;
                font-size: .95em;
                margin-bottom: 2em;
            }
        }
    }
}